Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-JWT-Extended==4.7.1
flask-cors==6.0.1
Flask-Limiter==4.0.0
SQLAlchemy==2.0.43
alembic==1.16.4
python-dotenv==1.1.1
email-validator==2.2.0
passlib==1.7.4

torch==2.7.0
transformers==4.57.1
sentence-transformers==5.1.0
numpy==2.2.5
scikit-learn==1.6.1
pandas==2.2.3


Werkzeug
Jinja2
click
itsdangerous
blinker
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
Flask-APScheduler

psycopg2-binary
mysqlclient

PyJWT
email_validator
cryptography

Flask-SocketIO
python-socketio
python-engineio
eventlet   # فقط لو مستخدم SocketIO

tokenizers
safetensors


requests
tqdm
joblib
pillow
python-dateutil
pytz
