<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.dashboard') }}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('athlete.my_plans') }}">
        <i class="bi bi-calendar-event"></i>
        <span>Training Plans</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('athlete.my_stats') }}">
        <i class="bi bi-bar-chart-line"></i>
        <span>My Stats</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('athlete.workout_hub_page') }}">
        <i class="bi bi-heart-pulse"></i>
        <span>Workouts Hub</span>
      </a>
    </li>

    <li class="nav-item">
        <a href="{{ url_for('athlete.goals') }}" class="nav-link">
            <i class="bi bi-bullseye"></i> 
            <span>Goals</span>
        </a>
    </li>

  </ul>
</aside>