<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.dashboard') }}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Athletes -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#athletes-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Athletes</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="athletes-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('coach.manage_athletes_view') }}">
            <i class="bi bi-circle"></i><span>Manage Athletes</span>
          </a>
        </li>
        
      
      </ul>
    </li>

    <!-- Training Plans -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#plans-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar-check"></i><span>Training Plans</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="plans-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('coach.training_plans_management') }}">
            <i class="bi bi-circle"></i><span>Training Plans Management</span>
          </a>
        </li>
        
        <li>
          <a href="{{ url_for('coach.calendar_view') }}">
            <i class="bi bi-circle"></i><span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('coach.coach_sessions_page') }}">
            <i class="bi bi-circle"></i><span>Manage Booked Sessions</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Workouts -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#workouts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Workouts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="workouts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="{{ url_for('coach.create_workout_view') }}">
            <i class="bi bi-circle"></i><span>Manage Workouts</span>
          </a>
        </li>
    
      </ul>
    </li>


    <!-- Feedback -->
   

    <!-- Reports -->
   

  </ul>
</aside>
